<div class="col project-list-item">
  <div class="project-list-grid">
    {% if project.img %}
      <a
        class="project-list-thumb"
        href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}"
      >
        {% include figure.liquid loading="eager" path=project.img sizes="(min-width: 768px) 200px, 40vw" alt="project thumbnail" class="img-fluid rounded" %}
      </a>
    {% endif %}
    <div class="project-list-content">
      <h5 class="project-list-title">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
          {{ project.title }}
        </a>
        {% if project.project_date %}
          <span class="project-list-date">({{ project.project_date }})</span>
        {% endif %}
      </h5>
      {% if project.description %}
        <p class="project-list-description">{{ project.description }}</p>
      {% endif %}
      {% if project.github %}
        <p class="project-list-link">
          <a href="{{ project.github }}">
            <i class="fa-brands fa-github"></i>
            {{ project.github | remove: 'https://' | remove: 'http://' }}
          </a>
        </p>
      {% elsif project.redirect %}
        <p class="project-list-link">
          <a href="{{ project.redirect }}">
            {{ project.redirect | remove: 'https://' | remove: 'http://' }}
          </a>
        </p>
      {% endif %}
    </div>
  </div>
  <hr class="project-list-divider">
</div>
